# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ / VSCode
.idea/
*.iml
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Allure Reports
allure-results/
allure-report/

# Test outputs
reports/
screenshots/
